body{
    text-align: center;
    background-color:rgb(125, 22, 22);
    color: white;
}
button{
    display: block;
    margin: auto;
    margin-top: 10px;
    width:15%;
    background: transparent;
    color: aliceblue;
    height: 30px;
}
button:hover{
    background: gray;
}
h1{
    color:#52ae31;
}
